<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">

   <title>TrailMix</title>

   <!-- Bootstrap core CSS -->
   <link href="../static/css/bootstrap.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="../static/css/starter-template.css" rel="stylesheet">

   <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
   <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>

 <body>


    <div class="container starter-template" style="padding-bottom: 0px">
        <h2>TrailMix</h2>
        <p>Find the right trail for your level</p>
    </div>

    <div class="container starter-template" style="padding-top: 10px">
      <form action="/output" method="GET">
        <div class="form-row align-items-center">
          <div class="col-9">
            <select class="custom-select" name="trail_name" id="trail_name">
                    <option value="Cascade Falls Trail">Choose trail...</option>
		    <option value="Cascade Falls Trail">Lake Tahoe: Cascade Falls Trail</option>
                    <option value="Rainbow Trail">Lake Tahoe: Rainbow Trail</option>
                    <option value="Mount Tallac Trail">Lake Tahoe: Mount Tallac Trail</option>
                    <option value="Matt Davis Trail to Cataract Trail">Mt. Tamalpais: Matt Davis Trail to Cataract Trail</option>
                    <option value="Muir Woods via the Bootjack Trail">Mt. Tamalpais: Muir Woods via the Bootjack Trail</option>
                    <option value="Stinson Beach to Mount Tamalpais">Mt. Tamalpais: Stinson Beach to Mount Tamalpais</option>
                    <option value="Alamere Falls via Coast Trail from Palomarin Trailhead">Point Reyes: Alamere Falls via Coast Trail from Palomarin Trailhead</option>
                    <option value="Bear Valley Trail to Wildcat Camp and Alamere Falls">Point Reyes: Bear Valley Trail to Wildcat Camp and Alamere Falls</option>                                        
                    <option value="Point Reyes National Seashore Trail">Point Reyes: Point Reyes National Seashore Trail</option>
                    <option value="Bridalveil Fall Trail">Yosemite: Bridalveil Fall Trail</option>
                    <option value="Elizabeth Lake Trail">Yosemite: Elizabeth Lake Trail</option>
                    <option value="Cathedral Lakes Trail">Yosemite: Cathedral Lakes Trail</option>
                    <option value="Glacier Point Trail">Yosemite: Glacier Point Trail</option>
                    <option value="Half Dome Trail">Yosemite: Half Dome Trail</option>
                    <option value="John Muir Trail Via Yosemite Valley">Yosemite: John Muir Trail Via Yosemite Valley</option>
                    <option value="Lower Yosemite Falls Trail">Yosemite: Lower Yosemite Falls Trail</option>
                    <option value="Mirror Lake via Valley Loop Trail">Yosemite: Mirror Lake via Valley Loop Trail</option>
                    <option value="Sentinel Dome Trail">Yosemite: Sentinel Dome Trail</option>
                    <option value="Upper Yosemite Falls Trail">Yosemite: Upper Yosemite Falls Trail</option>    
                    <option value="Vernal and Nevada Falls via the Mist Trail">Yosemite: Vernal and Nevada Falls via the Mist Trail</option>                                                               
            </select>
          </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-default" style="background: #007bff; color: white;">Check difficulty</button>
        </div>
      </form>
    </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/datalist-polyfill.js"></script>

     </div><!-- /.container -->




   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>

   </body>
</html>
